html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.btn-top-margin {
    margin-top: 20px;
}
.bg-green {
    background-color: #4CAF50;
}
.btn-green {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50
}
.btn-green:hover {
    background-color: #46a049;
}
a, a:visited {
    color: #4CAF50;
}
a:hover {
    color: #46a049;
}
.btn-left {
    content: url("Left.png");
    width: 1rem;
    height: 1rem;
}
.btn-right {
    content: url("Right.png");
    width: 1rem;
    height: 1rem;
}
.form-control input[type="text"] {
    width: 100%;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
#calendar-add {
    float: right;
    margin-bottom: 5px;
}