body {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  h3 {
    margin-top: 2rem;
  }
 
  .row{
    margin-bottom: 0;
  }
  [class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid rgba(86, 61, 124, .2);
  }
  
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
.grid {
    position: absolute;
    top: 4.25rem;
}