
/* WRAPPER */

.wrapper {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas:"content";
    width: 100vw; /* unnecessary, but let's keep things consistent */
    height: 100vh;
  }

main {
    grid-area: content;
    padding: 48px;
}
  .toolbar{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 1rem;
  }
  .calendar__day,
  .calendar__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  
  }
  .calendar__day {
    grid-auto-rows: 100px;
    text-align: center;
  }
  
  .calendar__header {
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
  }
  
  .calendar__hour {
    padding: 16px;
  }
  
  
  
  
  /* COSMETIC STYLING */
  
  :root {
    --red: #ED5454;
  }
  
  main {
    background-color: #FCFBFC;
  }
  
  .avatar__name {
    font-size: 0.8rem;
  }
  
  .menu__item {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 16px 16px 16px 14px;
    border-left: 4px solid transparent;
    color: inherit;
    text-decoration: none;
    transition: color ease 0.3s;
  }
  
  .menu__item--active .menu__icon {
    color: var(--red);
  }
  .menu__item--active .menu__text {
    color: black;
  }
  
  .menu__item:hover {
    color: black;
  }
  
  
  .menu__icon {
    font-size: 1.3rem;
  }
  
  @media screen and (min-width: 850px) {
    .menu__icon {
      font-size: 0.9rem;
      padding-right: 16px;
    }
    .menu__item--active {
      border-left: 4px solid var(--red);
      box-shadow: inset 10px 0px 17px -13px var(--red);
    }
  }
  
  .copyright {
    font-size: 0.7rem;
    font-weight: 400;
  }
  
  .calendar {
    background-color: white;
    border: 1px solid #e1e1e1;
  }
  
  .calendar__header > div {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .calendar__hour {
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
  }
  
  .calendar__hour:last-child {
    border-right: 0;
  }
  
  .toggle{
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    text-align: center;
    font-size: 0.9em;
  }
  .toggle__option{
    padding: 16px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    text-transform: capitalize;
    cursor: pointer;
  }
  .toggle__option:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  .toggle__option:last-child {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .toggle__option--selected{
    border-color: white;
    background-color: white;
    color: var(--red);
    font-weight: 500;
    box-shadow: 1px 2px 30px -5px var(--red);
  }
.unavailable {
    background-color: grey;
}
.unavailable:after {
    content: "\00000a Unavailable";
    white-space: pre;
}
.information {
    margin-top: 1rem;
}
.booked {
    background-color: #4CAF50;
}
.booked:after{
    content: "\00000a Booked Meeting";
    white-space: pre;
}
#calendar-user {
  margin-left: 100px;
}