<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial_scale=1, shrink-to-fit=no">
    <title>MeetMe: A Better Meeting Planner Your Bookings</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bookings_user.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='calendar.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark mb-4 bg-green fixed-top">
        <a class="navbar-brand" href="{{ url_for('calendar_user') }}">MeetMe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {%if request.url_rule.endpoint == 'calendar_user' %}active {% endif %}" href="{{ url_for('calendar_user') }}">
                        Calendar
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link {%if request.url_rule.endpoint == 'bookings_user' %}active {% endif %}" href="{{ url_for('bookings_user') }}">
                        Bookings
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout_page')}}">Log out</a>
                </li>
        </ul>
        </div>
    </nav>
    <div class="container-fluid grid">
        <h4 class="text-center">You can view your upcoming meetings here.</h4>
        <div class="row">
            <div class="col-sm"><h5><b>Meeting day</b></h5></div>
            <div class="col-sm"><h5><b>Meeting time</b></h5></div>
            <div class="col-sm"><h5><b>Attendees</b></h5></div>
        </div>
        <div class="row">
            <div class="col-sm">Thursday, 28 January</div>
            <div class="col-sm">09:00 - 11:00</div>
            <div class="col-sm">
                Unregistered User 1
                <div>
                    <button class="btn btn-green btn-top-margin" type="submit">View Attendees</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">Friday, 29 January</div>
            <div class="col-sm">08:00 - 09:00</div>
            <div class="col-sm" style:"display: inline-block;">
                Unregistered User 2, Unregistered User 3
                <div>
                    <button class="btn btn-green btn-top-margin" type="submit">View Attendees</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">Saturday, 30 January</div>
            <div class="col-sm">09:00 - 10:00</div>
            <div class="col-sm" style:"display: inline-block;">
                Unregistered User 4, Unregistered User 2, Unregistered User 5
                <div>
                    <form method="get" action="{{ url_for('example_booking') }}">
                    <button class="btn btn-green btn-top-margin" type="submit">View Attendees</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</body>