<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial_scale=1, shrink-to-fit=no">
    <title>MeetMe: A Better Meeting Planner Registration Page</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="signin.css" rel ="stylesheet">
    <link href="base.css" rel="stylesheet">
    <link href="calendar.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark mb-4 bg-green fixed-top">
        <a class="navbar-brand" href="#">MeetMe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Register
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Log in
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="wrapper text-center">
        <main>
            <div class="information">
                <p style="float: left;">All hours are according to timezone: GMT/UTC +03</p>
                <h4 style="margin-right: 22.5rem;">Calendar of User1</h4>
            </div>
            <div class="toolbar">
                <button type="button" class="btn btn-default">
                    <span class="btn-left"></span>
                </button>
                21-27 December 2020
                <button type="button" class="btn btn-default">
                    <span class="btn-right"></span>
                </button>
            </div>
            <div class="calendar">
                <div class="calendar__header">
                <div>mon</div>
                <div>tue</div>
                <div>wed</div>
                <div>thu</div>
                <div>fri</div>
                <div>sat</div>
                <div>sun</div>
            </div>
            
            <div class="calendar__day">
                <div class="calendar__hour day unavailable">06:00</div>
                <div class="calendar__hour day unavailable">06:00</div>
                <div class="calendar__hour day unavailable">06:00</div>
                <div class="calendar__hour day unavailable">06:00</div>
                <div class="calendar__hour day unavailable">06:00</div>
                <div class="calendar__hour day">06:00</div>
                <div class="calendar__hour day">06:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day unavailable">07:00</div>
                <div class="calendar__hour day">07:00</div>
                <div class="calendar__hour day unavailable">07:00</div>
                <div class="calendar__hour day unavailable">07:00</div>
                <div class="calendar__hour day unavailable">07:00</div>
                <div class="calendar__hour day unavailable">07:00</div>
                <div class="calendar__hour day">07:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day unavailable">08:00</div>
                <div class="calendar__hour day">08:00</div>
                <div class="calendar__hour day">08:00</div>
                <div class="calendar__hour day">08:00</div>
                <div class="calendar__hour day unavailable">08:00</div>
                <div class="calendar__hour day">08:00</div>
                <div class="calendar__hour day">08:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day unavailable">09:00</div>
                <div class="calendar__hour day">09:00</div>
                <div class="calendar__hour day">09:00</div>
                <div class="calendar__hour day unavailable">09:00</div>
                <div class="calendar__hour day">09:00</div>
                <div class="calendar__hour day unavailable">09:00</div>
                <div class="calendar__hour day">09:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day">10:00</div>
                <div class="calendar__hour day">10:00</div>
                <div class="calendar__hour day">10:00</div>
                <div class="calendar__hour day unavailable">10:00</div>
                <div class="calendar__hour day">10:00</div>
                <div class="calendar__hour day">10:00</div>
                <div class="calendar__hour day">10:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day">11:00</div>
                <div class="calendar__hour day">11:00</div>
                <div class="calendar__hour day">11:00</div>
                <div class="calendar__hour day">11:00</div>
                <div class="calendar__hour day">11:00</div>
                <div class="calendar__hour day">11:00</div>
                <div class="calendar__hour day">11:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day">12:00</div>
                <div class="calendar__hour day">12:00</div>
                <div class="calendar__hour day">12:00</div>
                <div class="calendar__hour day">12:00</div>
                <div class="calendar__hour day">12:00</div>
                <div class="calendar__hour day">12:00</div>
                <div class="calendar__hour day">12:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day">13:00</div>
                <div class="calendar__hour day">13:00</div>
                <div class="calendar__hour day">13:00</div>
                <div class="calendar__hour day">13:00</div>
                <div class="calendar__hour day">13:00</div>
                <div class="calendar__hour day">13:00</div>
                <div class="calendar__hour day">13:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day">14:00</div>
                <div class="calendar__hour day">14:00</div>
                <div class="calendar__hour day">14:00</div>
                <div class="calendar__hour day">14:00</div>
                <div class="calendar__hour day">14:00</div>
                <div class="calendar__hour day">14:00</div>
                <div class="calendar__hour day">14:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day">15:00</div>
                <div class="calendar__hour day">15:00</div>
                <div class="calendar__hour day">15:00</div>
                <div class="calendar__hour day">15:00</div>
                <div class="calendar__hour day">15:00</div>
                <div class="calendar__hour day">15:00</div>
                <div class="calendar__hour day">15:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day">16:00</div>
                <div class="calendar__hour day">16:00</div>
                <div class="calendar__hour day">16:00</div>
                <div class="calendar__hour day">16:00</div>
                <div class="calendar__hour day">16:00</div>
                <div class="calendar__hour day">16:00</div>
                <div class="calendar__hour day">16:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day">17:00</div>
                <div class="calendar__hour day">17:00</div>
                <div class="calendar__hour day">17:00</div>
                <div class="calendar__hour day">17:00</div>
                <div class="calendar__hour day">17:00</div>
                <div class="calendar__hour day">17:00</div>
                <div class="calendar__hour day">17:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day">18:00</div>
                <div class="calendar__hour day">18:00</div>
                <div class="calendar__hour day">18:00</div>
                <div class="calendar__hour day">18:00</div>
                <div class="calendar__hour day">18:00</div>
                <div class="calendar__hour day">18:00</div>
                <div class="calendar__hour day">18:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day">19:00</div>
                <div class="calendar__hour day">19:00</div>
                <div class="calendar__hour day">19:00</div>
                <div class="calendar__hour day">19:00</div>
                <div class="calendar__hour day">19:00</div>
                <div class="calendar__hour day">19:00</div>
                <div class="calendar__hour day">19:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day">20:00</div>
                <div class="calendar__hour day">20:00</div>
                <div class="calendar__hour day">20:00</div>
                <div class="calendar__hour day">20:00</div>
                <div class="calendar__hour day">20:00</div>
                <div class="calendar__hour day">20:00</div>
                <div class="calendar__hour day">20:00</div>
            </div>
            <div class="calendar__day">
                <div class="calendar__hour day">21:00</div>
                <div class="calendar__hour day">21:00</div>
                <div class="calendar__hour day">21:00</div>
                <div class="calendar__hour day">21:00</div>
                <div class="calendar__hour day">21:00</div>
                <div class="calendar__hour day">21:00</div>
                <div class="calendar__hour day">21:00</div>
            </div><div class="calendar__day">
                <div class="calendar__hour day">22:00</div>
                <div class="calendar__hour day">22:00</div>
                <div class="calendar__hour day">22:00</div>
                <div class="calendar__hour day">22:00</div>
                <div class="calendar__hour day">22:00</div>
                <div class="calendar__hour day">22:00</div>
                <div class="calendar__hour day">22:00</div>
            </div><div class="calendar__day">
                <div class="calendar__hour day">23:00</div>
                <div class="calendar__hour day">23:00</div>
                <div class="calendar__hour day">23:00</div>
                <div class="calendar__hour day">23:00</div>
                <div class="calendar__hour day">23:00</div>
                <div class="calendar__hour day">23:00</div>
                <div class="calendar__hour day">23:00</div>
            </div>
          </div>
        </main>
    </div>
</body>