<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial_scale=1, shrink-to-fit=no">
    <title>MeetMe: A Better Meeting Planner Your Calendar</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bookings_user.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='calendar.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark mb-4 bg-green fixed-top">
        <a class="navbar-brand" href="{{ url_for('calendar_user') }}">MeetMe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link {%if request.url_rule.endpoint == 'calendar_user' %}active {% endif %}" href="{{ url_for('calendar_user') }}">
                        Calendar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if request.url_rule.endpoint == 'bookings_user' %}active {% endif %}" href="{{ url_for('bookings_user') }}">
                        Bookings
                    </a>
                </li>
            </ul>
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout_page')}}">Log out</a>
                        </li>
                </ul>
        </div>
    </nav>
    <div class="wrapper text-center">
        <main>
            <div class="information">
                <p style="float: left;">All hours are according to timezone: GMT/UTC +03</p>
                <h3 style="margin-right: 20rem;">Your Calendar</h3>
                <h4>Welcome {{ r["name"] }}, here you can see and organize your available hours and requested meetings.</h4>
                <button class="btn btn-green btn-top-margin" id="calendar-add" type="submit">Import</button>
            </div>
            <div class="toolbar">
                <button type="button" id="calendar-user" class="btn btn-default">
                    <span class="btn-left"></span>
                </button>
                <span id="calendar-user">25-31 January 2021</span>
                <button type="button" id="calendar-user" class="btn btn-default">
                    <span class="btn-right"></span>
                </button>
            </div>
            <div class="calendar">
                <div class="calendar__header">
                <div>mon</div>
                <div>tue</div>
                <div>wed</div>
                <div>thu</div>
                <div>fri</div>
                <div>sat</div>
                <div>sun</div>
            </div>
            {% for i in range(start, end+1) %}
            <div class="calendar__day">
                <div class="calendar__hour day {% if 'Monday' not in working %}unavailable{%endif%}">{{i}}:00</div>
                <div class="calendar__hour day {% if 'Tuesday' not in working %}unavailable{%endif%}">{{i}}:00</div>
                <div class="calendar__hour day {% if 'Wednesday' not in working %}unavailable{%endif%}">{{i}}:00</div>
                <div class="calendar__hour day {% if 'Thursday' not in working %}unavailable{%endif%}">{{i}}:00</div>
                <div class="calendar__hour day {% if 'Friday' not in working %}unavailable{%endif%}">{{i}}:00</div>
                <div class="calendar__hour day {% if 'Saturday' not in working %}unavailable{%endif%}">{{i}}:00</div>
                <div class="calendar__hour day {% if 'Sunday' not in working %}unavailable{%endif%}">{{i}}:00</div>
            </div>
            {%endfor%}
          </div>
        </main>
    </div>
</body>