<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial_scale=1, shrink-to-fit=no">
    <title>Meeting Create Page</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="signin.css" rel ="stylesheet">
    <link href="base.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark mb-4 bg-green fixed-top">
        <a class="navbar-brand" href="#">MeetMe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Calendar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Bookings
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="container">
        <div class="text-left">
            <form class="form-control">
                <label for="begtime">Start of meeting: 07:00</label><br>
                <label for="endtime">Choose end time of meeting:</label>
                <div class="btn-group">
                    <div>
                      <select id="company" class="form-control">
                        <option>08:00</option>
                        <option>09:00</option>
                        <option>10:00</option>
                      </select> 
                    </div>
                  </div>
                <label for="name" class="sr-only">Full name:</label>
                    <input type="text" id="name" class="form-control" placeholder="Full Name">
                <label for="e-mail" class="sr-only">E-mail:</label>
                    <input type="text" id="e-mail" class="form-control" placeholder="E-mail address">
                <label for="number" class="sr-only">Phone number:</label>
                    <input type="text" id="number" class="form-control" placeholder="Phone number (optional)">
                <label for="number" class="sr-only">Description:</label>
                    <textarea type="text" rows="4" class="form-control" placeholder="Description (optional)"></textarea>
                <button class="btn btn-primary btn-top-margin btn-green" onclick="">Create Meeting</button>
            </form>
        </div>
    </main>
</body>