<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial_scale=1, shrink-to-fit=no">
    <title>MeetMe: A Better Meeting Planner Your Calendar</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bookings_user.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='calendar.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark mb-4 bg-green fixed-top">
        <a class="navbar-brand" href="{{ url_for('calendar_user') }}">MeetMe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link {%if request.url_rule.endpoint == 'calendar_user' %}active {% endif %}" href="{{ url_for('calendar_user') }}">
                        Calendar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if request.url_rule.endpoint == 'bookings_user' %}active {% endif %}" href="{{ url_for('bookings_user') }}">
                        Bookings
                    </a>
                </li>
            </ul>
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout_page')}}">Log out</a>
                        </li>
                </ul>
        </div>
    </nav>
    <div class="wrapper text-center">
        <main>
            <h4 style="margin-top: 10px">Welcome {{ r["name"] }}, you don't have a calendar yet. You can create one here!</h4>
            <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial_scale=1, shrink-to-fit=no">
                <title>Meeting Create Page</title>
                <link href="bootstrap.min.css" rel="stylesheet">
                <link href="signin.css" rel ="stylesheet">
                <link href="base.css" rel="stylesheet">
            </head>
            <body>
                <nav class="navbar navbar-expand-md navbar-dark mb-4 bg-green fixed-top">
                    <a class="navbar-brand" href="#">MeetMe</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Calendar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Bookings
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="container">
                    <div class="text-left">
                        <form class="form-control" method="post">
                            <label for="begtime">Start of meeting:</label>
                            <div class="btn-group float-right">
                                <div>
                                  <select name="start" class="form-control">
                                    {% for i in range(24) %}
                                    <option>{{i}}:00</option>
                                    {% endfor %}
                                  </select> 
                                </div>
                              </div><br><br>
                            <label for="endtime">Choose end time of meeting:</label>
                            <div class="btn-group float-right">
                                <div>
                                  <select name="end" class="form-control">
                                    {% for i in range(1,25) %}
                                    <option>{{i}}:00</option>
                                    {% endfor %}
                                  </select> 
                                </div>
                              </div>
                            <label for="name" class="sr-only">Calendar Name:</label>
                                <input type="text" name="name" class="form-control" placeholder="Calendar Name" required>
                            <label for="days">Choose the days on which you are working:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Monday"/>
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Monday
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Tuesday"/>
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Tuesday
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Wednesday"/>
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Wednesday
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Thursday"/>
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Thursday
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Friday"/>
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Friday
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Saturday"/>
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Saturday
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Sunday"/>
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Sunday
                                    </label>
                                  </div>
                            <button class="btn btn-primary btn-top-margin btn-green">Create Calendar</button>
                        </form>
                    </div>
                </main>
            </body>
        </main>
    </div>
</body>