<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial_scale=1, shrink-to-fit=no">
    <title>MeetMe: A Better Meeting Planner {% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bookings_user.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark mb-4 bg-green fixed-top">
        <a class="navbar-brand" href="{{ url_for('login_page') }}">MeetMe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {%if request.url_rule.endpoint == 'register_page' %}active {% endif %}" href="{{ url_for('register_page') }}">
                        Register
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if request.url_rule.endpoint == 'login_page' %}active {% endif %}" href="{{ url_for('login_page') }}">
                        Log in
                    </a>
                </li>
                {% else %}
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link {%if request.url_rule.endpoint == 'calendar_user' %}active {% endif %}" href="{{ url_for('calendar_user') }}">
                                Calendar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Bookings
                            </a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>