{% extends "layout.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="text-center">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            {{message}}
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="" method="post" class="form-signin">
                <h3>Log in</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" name="mail" class="form-control" placeholder="Email address" required autofocus>
                <div class="clearfix"></div>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
                Don't have an account? <a href="{{ url_for('register_page') }}">Register here.</a>
                <div>
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-green btn-block btn-top-margin" type="submit">Log in</button>
            </form>
        </div>
    </main>
{% endblock %}