{% extends "layout.html"%}
{% block title %}Registration Page{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="text-center">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            {{message}}
            {% endfor %}
            {% endif %}
            {% endwith %}
        <form action ="" method = "post" class="form-signin">
            <h3>Please register below</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="mail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <div>
                <label for="inputName" class="sr-only">Name and Surname</label>
            </div>
            <div class="float-left form-signin">
                <input id="inputName" name="name" type="text" class="form-control" placeholder="Name" required>
                <input id="inputSurame" name ="surname" type="text" class="form-control" placeholder="Surname" required>
            </div>
            <div class="clearfix"></div>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name = "password" class="form-control" placeholder="Password">
            <label for="inputPasswordConfirm" class="sr-only">Confirm password</label>
            <input type="password" id="inputPasswordConfirm" name="confirm" class="form-control password-confirm" placeholder="Confirm password">
            Already have an account? <a href="{{ url_for('login_page') }}">Log in here.</a>
            <button class="btn btn-lg btn-green btn-block btn-top-margin" type="submit">Register</button>
        </form>
    </div>
</main>
{% endblock %}