<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial_scale=1, shrink-to-fit=no">
    <title>MeetMe: A Better Meeting Planner Registration Page</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bookings_user.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='calendar.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark mb-4 bg-green fixed-top">
        <a class="navbar-brand" href="{{ url_for('calendar_user') }}">MeetMe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('calendar_user') }}">
                        Calendar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bookings_user') }}">
                        Bookings
                    </a>
                </li>
            </ul>
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout_page')}}">Log out</a>
                        </li>
                </ul>
        </div>
    </nav>
    <div class="container-fluid grid">
        <h4 class="text-center">Meeting of Saturday, 30 January</h4>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Fullname</th>
                <th scope="col">Email Address</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Name1 Surname1</td>
                <td>name1@domain.com</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure<br>
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non<br>
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Name2 Surname2</td>
                <td>name2@domain.com</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure<br>
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non<br>
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Name3 Surname3</td>
                <td>name3@domain.com</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure<br>
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non<br>
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
              </tr>
            </tbody>
          </table>
    </div>
</body>